target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google-services.json
!**/src/test/resources/archetype-resources/google-services.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.netbeans_derby/

### VS Code ###
.vscode/

### Others ###
*.log
.DS_Store
auth.json
